.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    width: 400px;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    position: relative;
    text-align: center;
}

.closeBtn {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #878A8C;
}

.header {
    margin-bottom: 24px;
}

.header h2 {
    margin: 16px 0 8px;
    font-size: 20px;
}

.header p {
    font-size: 12px;
    color: #1a1a1b;
}



.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input {
    padding: 12px;
    border: 1px solid var(--color-border);
    border-radius: 20px;
    /* More rounded */
    background: #f6f7f8;
    outline: none;
}

.input:focus {
    border-color: #0079D3;
    background: white;
}

.submitBtn {
    width: 100%;
    margin-top: 16px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
}

.orangeBtn {
    background-color: #FF4500;
    color: white;
}

.orangeBtn:hover {
    background-color: #ff5414;
}

.footer {
    margin-top: 24px;
    font-size: 12px;
}

.linkBtn {
    background: none;
    border: none;
    color: var(--color-primary);
    font-weight: 700;
    cursor: pointer;
    padding: 0;
}